<nav class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand me-2" href="/new">
      <img
        src="https://127.0.0.1:8000/uploads/images/6.png"
        height="50"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -15px;"
      />
    </a>
  </div>
</nav>